<?xml version="1.0"?>
<model>
  <name>Tilt Ropter with Dual ToF Sensors</name>
  <version>1.0</version>
  <sdf version='1.6'>tilt_ropter_tof.sdf</sdf>
  <author>
   <name>Ruoyu Wang</name>
   <email>wry0117@outlook.com</email>
  </author>
  <description>
    This is a model of the Tilt Ropter with Dual ToF Sensors.
  </description>
</model>
